@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

@theme {
    --color-fd-primary: hsl(287, 63%, 58%);
    --color-fd-primary-foreground: hsl(0, 0%, 98%);
    --color-fd-ring: hsl(287, 63%, 58%);
}

.dark {
    --color-fd-primary: hsl(287, 63%, 58%);
    --color-fd-primary-foreground: hsl(0, 0%, 98%);
    --color-fd-ring: hsl(287, 63%, 58%);
}

.prose a {
    color: var(--color-fd-primary);
}

html {
    scrollbar-gutter: stable;
}

html > body[data-scroll-locked] {
    margin-right: 0 !important;
    --removed-body-scroll-bar-size: 0 !important;
}