@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

@theme {
    --color-fd-primary: #AC52D4;
    --color-fd-primary-foreground: hsl(0, 0%, 98%);
    --color-fd-ring: #AC52D4;
}

.dark {
    --color-fd-primary: #AC52D4;
    --color-fd-primary-foreground: hsl(0, 0%, 98%);
    --color-fd-ring: #AC52D4;
}

html {
    scrollbar-gutter: stable;
}

html > body[data-scroll-locked] {
    margin-right: 0px !important;
    --removed-body-scroll-bar-size: 0px !important;
}